[Desktop Entry]
Type=Application
Comment[bs]=Uredite datoteke s kodom
Comment[ca]=Editeu fitxers de codi
Comment[cs]=Upravujte soubory se zdrojovými kódy
Comment[da]=Redigér kodefiler
Comment[de]=Code Editor
Comment[en_CA]=Edit code files
Comment[en_GB]=Edit code files
Comment[eo]=Modifi kodajn dosierojn
Comment[es]=Edite archivos de código
Comment[fi]=Muokkaa kooditiedostoja
Comment[fr]=Modifier des fichiers de code
Comment[gl]=Editar ficheiros de código
Comment[he]=עריכת קובצי קוד
Comment[hi]=कोड फ़ाइलों को संपादित करें
Comment[hu]=Kódfájlok szerkesztése
Comment[id]=Sunting berkas kode
Comment[it]=Modifica file sorgenti
Comment[ja]=コードファイルを編集します
Comment[ko]=코드 파일을 편집합니다
Comment[ku]=pelên nivîsê sererast bike
Comment[lt]=Redaguoti kodo failus
Comment[mr]=कोड फायली संपादित करा
Comment[ms]=Sunting fail-fail kod
Comment[nb]=Rediger kodefiler
Comment[nl]=Bewerk bronbestanden
Comment[nn]=Rediger kodefiler
Comment[pl]=Modyfikuje pliki z kodem
Comment[pt]=Editar ficheiros de código
Comment[pt_BR]=Edite arquivos de código
Comment[ru]=Редактирование файлов с кодом
Comment[sl]=Urejajte datoteke s kodo
Comment[sv]=Redigera kodfiler
Comment[tr]=Kod dosyalarını düzenle
Comment[zh_CN]=编辑代码文件
Comment[zh_TW]=編輯源碼檔
Comment=Edit code files
Name[bs]=Kod uređivač
Name[ca]=Editor de codi
Name[cs]=Editor kódu
Name[da]=Kode Editor
Name[de]=Code Editor
Name[en_CA]=Code Editor
Name[en_GB]=Code Editor
Name[eo]=Koda Redaktilo
Name[es]=Editor de código
Name[fi]=Koodimuokkain
Name[fr]=Éditeur de code
Name[gl]=Editor de código
Name[he]=עורך קוד
Name[hu]=Kód szerkesztő
Name[id]=Penyunting Kode
Name[it]=Editor di file sorgenti
Name[ja]=コードエディター
Name[ko]=코드 에디터
Name[lt]=Kodų redaktorius
Name[mr]=कोड संपादक
Name[ms]=Penyunting Kod
Name[nb]=Kode -tekstbehandler
Name[nl]=Code Editor
Name[nn]=Kodehandsamar
Name[pl]=Edytor Kod
Name[pt]=Editor de código
Name[pt_BR]=Editor Code
Name[ru]=Редактор кода
Name[sl]=Urejevalnik kode
Name[sv]=Kod textredigerare
Name[tr]=Kod Düzenleyici
Name[zh_CN]=代码编辑器
Name[zh_TW]=Code 編輯器
Name=Code Editor
Exec=io.elementary.code %U
Icon=io.elementary.code
Terminal=false
Categories=Development;GTK;IDE;WebDevelopment;
Keywords[ca]=text;IDE;scratch;
Keywords[cs]=text;IDE;scratch;
Keywords[da]=text;IDE;scratch;
Keywords[de]=Text;Entwicklungsumgebung;IDE;Code;
Keywords[en_GB]=text;IDE;scratch;
Keywords[eo]=teksto;IDE;integrita disvolva medio;scratch;
Keywords[es]=texto;IDE;scratch;
Keywords[fi]=teksti;IDE;scratch;
Keywords[fr]=Code;IDE;EDI;scratch;éditeur;intégré;développement;texte;
Keywords[gl]=text;IDE;scratch;
Keywords[he]=סביבת פיתוח;קוד;תכנות;טקסט;עריכה;
Keywords[it]=testo;IDE;scratch;
Keywords[ja]=text;IDE;scratch;テキスト;統合開発環境;
Keywords[ko]=text;IDE;scratch;
Keywords[lt]=tekstas;IDE;scratch;
Keywords[mr]=टेक्स्ट;आईडीई ;स्क्रैच;
Keywords[nb]=text;IDE;scratch;
Keywords[nl]=tekst;IDE;scratch;
Keywords[nn]=text;IDE;scratch;
Keywords[pl]=tekst;IDE;kod;scratch;
Keywords[pt]=text;IDE;scratch;
Keywords[pt_BR]=texto;IDE;scratch;
Keywords[ru]=text;IDE;scratch;
Keywords[sl]=besedilo;tekst;code;text;IDE;scratch;
Keywords[tr]=metin;IDE;karalama;text;code;scratch;
Keywords[zh_CN]=文本;IDE;草稿;
Keywords=text;IDE;scratch;
MimeType=text/plain;inode/directory;
StartupNotify=true
Actions=NewWindow;NewFile;

[Desktop Action NewFile]
Name[ar]=ملف جديد
Name[ca]=Fitxer nou
Name[cs]=Nový soubor
Name[da]=Ny Fil
Name[de]=Neue Datei
Name[en_GB]=New File
Name[eo]=Nova dosiero
Name[es]=Nuevo archivo
Name[fr]=Nouveau fichier
Name[he]=קובץ חדש
Name[ja]=新しいファイル
Name[mr]=नवी फाईल
Name[nl]=Nieuw bestand
Name[pt]=Novo ficheiro
Name[pt_BR]=Novo Arquivo
Name[sl]=Nova datoteka
Name[szl]=Nowy zbiōr
Name[tr]=Yeni Dosya
Name[zh_CN]=新文件
Name=New File
Exec=io.elementary.code --new-tab

[Desktop Action NewWindow]
Name[ar]=نافذة جديدة
Name[bg]=Нов прозорец
Name[bs]=Novi prozor
Name[ca]=Finestra nova
Name[cs]=Nové okno
Name[da]=Nyt Vindue
Name[de]=Neues Fenster
Name[el]=Νέο Παράθυρο
Name[en_AU]=New Window
Name[en_CA]=New Window
Name[en_GB]=New Window
Name[eo]=Nova fenestro
Name[es]=Ventana nueva
Name[fa]=پنجره جدید
Name[fi]=Uusi ikkuna
Name[fr]=Nouvelle fenêtre
Name[fr_CA]=Nouvelle fenêtre
Name[gl]=Nova xanela
Name[he]=חלון חדש
Name[hi]=नया विंडो
Name[hr]=Novi prozor
Name[hu]=Új ablak
Name[id]=Jendela Baru
Name[it]=Nuova finestra
Name[ja]=新しいウィンドウ
Name[ko]=새 창
Name[lt]=Naujas langas
Name[lv]=Jauns logs
Name[mr]=नवीन विंडो
Name[ms]=Tetingkap Baru
Name[nb]=Nytt vindu
Name[nl]=Nieuw venster
Name[nn]=Nytt vindauge
Name[pl]=Nowe okno
Name[pt]=Nova janela
Name[pt_BR]=Nova Janela
Name[ro]=Fereastră nouă
Name[ru]=Новое окно
Name[si]=නව කවුළුවක්
Name[sk]=Nové okno
Name[sl]=Novo okno
Name[sv]=Nytt fönster
Name[szl]=Nowe ôkno
Name[tr]=Yeni Pencere
Name[uk]=Нове вікно
Name[zh]=新窗口
Name[zh_CN]=新窗口
Name[zh_TW]=新增視窗
Name=New Window
Exec=io.elementary.code --new-window
